* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY COLORS */

  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturatedblue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /* NEUTRAL */
  --Dark-gray: hsl(0, 0%, 59%);
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--Dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  overflow: hidden;
}

.container {
  margin-bottom: 5rem;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  width: 37.5rem;
  background-color: #fff;
  padding: 2rem;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 7rem;
  margin-bottom: 12rem;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 5px solid #fff;
}
.profile .name {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--Very-dark-desaturatedblue);
}

.profile .age {
  color: var(--Dark-grayish-blue);
}

.profile .location {
  color: var(--Dark-gray);
  margin-top: 1rem;
  font-size: 1.4rem;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bg img {
  width: 100%;
}

.socials {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  font-size: 1.2rem;
}

.followers,
.likes,
.photos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--Dark-gray);
}

.numbers {
  font-size: 2rem;
  color: var(--Very-dark-desaturatedblue);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.top-pattern {
  position: absolute;
  top: -550px;
  left: -200px;
}
.bottom-pattern {
  position: absolute;
  bottom: -550px;
  right: -200px;
}

.attribution {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
